/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS reset ends here */
/* ========================================= */

/* Begin CSS styling */
html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto", "Arial", sans-serif;
}

.top-section, .footer {
    background-color: #1f2937;
}

.top-section {
    padding-left: 150px;
    padding-right: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.header .logo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

.header ul {
    display: flex;
    gap: 20px;
}

.header ul li a,
.hero-left .secondary-text,
.footer {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-section {
    display: flex;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.hero-left .main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-left .main-text,
.hero-left .secondary-text {
    max-width: 450px;
    min-width: 450px;
}

#signup-btn {
    border-radius: 8px;
    border: 0;
    width: 130px;
    padding: 5px;
    font-weight: bold;
    background-color: #3882f6;
    color: #f9faf8;
    transition-duration: 0.4s;
    cursor: pointer;
}

#signup-btn:hover {
    background-color: #f9faf8;
    color: #3882f6;
}

.hero-img-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 350px;
}

.hero-img-container img {
    min-height: 100%;
    max-width: 100%;
    object-fit: fill;
}

.information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-section .main-text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding-top: 40px;
    padding-bottom: 40px;
}

.information-section .image-gallery {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
}